*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(78, 117, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 50vw;
    height: auto;
    border: 1px solid black;
    display: flex;
}
.card .leftbox:hover{
    background-color: rgb(179, 177, 177);
    transition: margin-right 2s ease-in-out 0.5s;
}
.leftbox{
    width: 50%;
    height: auto;
    background-color: rgb(27, 2, 49);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    word-break: break-all;
    overflow: hidden;
}

.items{
    display: flex;
    gap: 20px;
    height: 100px;
}

.rightbox{
    width: 50%;
    height: auto;
    display: flex;
}

img{
    width: 100%;
    height: auto;

}