/* body{
    text-align: center;
}

div{
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin : auto;
    margin-top: 20px;
} */

.box{
    height:50px;
    width: 50px;
    background-color: palevioletred;
    border: 2px solid black;
}